.formControls.error textarea, .formControls.error input {
    border: 5px solid red;
}

.formControls.error span {
    color: red;
    font-weight: bold;
}

.formControls {

}

.formSummeryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}